h1.view-title Submitted images

ul.image-list
  li.image-item(ng-repeat='image in images')
    a(href='/image/{{image.id}}')
      img.image-item-thumbnail(ng-src='{{image.src}}')
    .image-item-details
      h3.image-item-title {{ image.title | shorten }}
      strong.image-item-user {{ image.user.username }}
